---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import { Pill } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';

const builtWith = [
  { name: 'Astro', url: 'https://astro.build/' },
  { name: 'UnoCSS', url: 'https://uno.antfu.me/' },
  {
    name: 'Content Collections',
    url: 'https://docs.astro.build/en/guides/content-collections/',
  },
  { name: 'RSS', url: 'https://docs.astro.build/en/guides/rss/' },
  {
    name: 'Sitemap',
    url: 'https://docs.astro.build/en/guides/integrations-guide/sitemap/',
  },
  { name: 'Vercel', url: 'https://vercel.com' },
  { name: 'TypeScript', url: 'https://www.typescriptlang.org/' },
];
---

<Layout
  title='Home'
  pageTitle='W&M ACM Student Chapter'
  description='The W&M ACM chapter Website. We Back Baby!!!'
>
  
  <main style="background-color: #6A9DC0; padding: 1.5rem;">
    <MobileSocials />
    <section id='about' class='grid md:grid-cols-8 gap-8 mt-4'>
      <h2 class='hidden'>About Brutal</h2>
      <div class='col-span-4'>
        <Card>
          <div class='flex flex-col justify-between items-start gap-4'>
            <p class='mt-4 outfit text-2xl md:text-5xl lg:text-7xl'>
              William & Mary <a
              class='text-white'
              target='_blank'
              href='https://astro.build/'>ACM</a  
              >
              Student Chapter
            </p>
            <p class='mt-2 outfit text-xl md:text-3xl lg:text-5xl'>
              Welcome! We are the William & Mary Chapter of the Association for Computing Machinery.
            </p>
            <Button target={'_self'} href='/blog/'>
              Check out what's new with W&M ACM &rarr;
            </Button>
          </div>
        </Card>
      </div>
      <div class='col-span-2'>
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
            &hacks
          </h2>
          <p class='poppins' style="margin-bottom: 20px;">
            William & Mary's annual Hackathon!
          </p>
          <Pill>
            <a
            target={"_blank"} 
            class='sanchez'
            href="https://andhacks.cs.wm.edu/"
            target='_blank'
          >
            Click here for more
          </a>
          </Pill>

         <!-- 
          <ul class='flex gap-4 flex-wrap'>
            {
              builtWith.map((item) => (
                <li>
                  <Pill>
                    <a
                      class='sanchez'
                      href={item.url}
                      target='_blank'
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        -->
        </Card>
      </div>
      <div class='col-span-2'>
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif'>
            What is W&M ACM?
          </h2>
          <p class='poppins'>
            We’re a community of students interested in computing and tech! 
            Join us for our weekly meetings, our yearly hackathon, &hacks, and other fun events.
          </p>
        </Card>
      </div>
    </section>
    <RecentBlogPosts />
  </main>
</Layout>
